@import "tailwindcss";

:root {
  --background: #f8f4dd;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Satoshi", "sans-serif";
  --ease-fluid: cubic-bezier(1.5, 0, 0, 1);
  --font-berkeleymono: "BerkeleyMono", monospace;
  --font-berkeleymono-bold: "BerkeleyMonoBold", monospace;
  --font-mono-alt: "Noto Sans Mono", monospace;
  --color-orange-hl: #ff6d0b;
  --color-orange-hl2: #ff962d;
  --color-black-hl: #1d1d1d;
  --color-off-white: #f8f4dd;
  --color-off-white-2: #f6f1d1;
}

@font-face {
  font-family: "BerkeleyMono";
  src: url("../../public/fonts/BerkeleyMonoVariable-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerkeleyMonoBold";
  src: url("../../public/fonts/BerkeleyMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.7s ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
